body {
    .template {
        form {
            input {
                height: 35px;
                width: 120px;
            }

            .template {
                height:40px;
                width: 100px;
            }
            #sumar {
                color: white;
                background-color: lightblue;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }

            #sumar:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }

            #restar{
                color: white;
                background-color: lightpink;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }

            #restar:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }

            #dividir{
                color: white;
                background-color: lightgreen;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            #dividir:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }

            #multiplicar{
                color: white;
                background-color: lightcoral;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            #multiplicar:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }
            
        }
    }

    .template2 {
        form {
            button {
                color: white;
                //background-color: lightpink;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
                height:40px;
                width: 100px;
            }
            button:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }
            #piedra1ID {
                background-color: lightcoral;
            }
            #papelID {
                background-color: lightgreen;
            }
            #tijeraID {
                background-color: lightblue;
            }
        }
    }

    .template3 {
        form {
            input {
                height: 35px;
                width: 120px;
            }
            button {
                height:40px;
                width: 120px;
                color: white;
                background-color: lightpink;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            button:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }
        }
    }

    .template4 {
        form {
            button {
                height:40px;
                width: 120px;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            button:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }
            #agregarEmpleadoBoton {
                color: white;
                background-color: lightskyblue;
            }
            #sueldoBoton {
                color: white;
                background-color: lightsalmon;
            }
        }
    }
    .template5 {
        form {
            button {
                height:40px;
                width: 120px;
                border:none;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            button:hover {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
            }
            #cambiaColorBut {
                color: white;
                background-color: lightseagreen;
            }
            #colorAle {
                color: white;
                background-color: rgb(175, 174, 226);
            }
            #limpiarBut{
                color: white;
                background-color: lightpink;
            }
        }
    }
}