.templ1 {
    height:40px;
    width: 100px;
    color: white;
    border:none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    &:hover {
        border-top: 1px solid gray;
        border-left: 1px solid gray;
    }
    
}

body {
    .template {
        form {
            input {
                height: 35px;
                width: 120px;
            }

           
            #sumar {
                @extend .templ1;
                background-color: lightblue;    
            }

            #restar{
                @extend .templ1;
                background-color: lightpink;
            }

            #dividir{
                @extend .templ1;
                background-color: lightgreen;
            }

            #multiplicar{
                @extend .templ1;
                background-color: lightcoral;
            }
            
        }
    }

    .template2 {
        form {
            button {
                @extend .templ1;
            }
           
            #piedra1ID {
                background-color: lightcoral;
            }
            #papelID {
                background-color: lightgreen;
            }
            #tijeraID {
                background-color: lightblue;
            }
        }
    }

    .template3 {
        form {
            input {
                height: 35px;
                width: 120px;
            }
            button {
                @extend .templ1;
                height:40px;
                width: 120px;
                background-color: lightpink;
            }
        }
    }

    .template4 {
        form {
            button {
                @extend .templ1;
                height:40px;
                width: 120px;
            }
            #agregarEmpleadoBoton {
                background-color: lightskyblue;
            }
            #sueldoBoton {
                background-color: lightsalmon;
            }
        }
    }
    .template5 {
        form {
            button {
                @extend .templ1;
            }
            #cambiaColorBut {
                background-color: lightseagreen;
            }
            #colorAle {
                background-color: rgb(175, 174, 226);
            }
            #limpiarBut{
                background-color: lightpink;
            }
        }
    }
}